<%#
Locals:
* event: The event to display my_events for
* my_event : The current_user's my_event instance, or nil if not logged in or not present
%>

<% users_by_status = event.my_event_users_by_status %>

<h3>Are you going?</h3>

<div id="event_my_event_buttons">
  <% is_initial_status = true %>
  <% MyEvent::STATUSES.each do |status| %>
    <%- if is_initial_status -%>
      <%- is_initial_status = false -%>
    <%- else -%>
      /
    <%- end -%>
    <%= link_for_my_event(
      MyEvent.status_label_for(status),
      event,
      status,
      my_event.ergo.status) -%>
  <% end %>
</div>

<div id="event_my_events_panel_listing_summary">
  Total:
  <% is_initial_status = true %>
  <% MyEvent::STATUSES.each do |status| %>
    <%- if is_initial_status -%>
      <%- is_initial_status = false -%>
    <%- else -%>
      /
    <%- end -%>
    <strong><%= users_by_status[status].ergo.size || 0 %> <%= MyEvent.status_label_for(status) %></strong>
  <% end %>

  <div id="event_my_events_panel_listing_hidden">
    <%= link_to_function("Details...", %{
      $('#event_my_events_panel_listing_hidden').hide();
      $('#event_my_events_panel_listing_shown').show();
      $('#event_my_events_panel_listing').show();
    }) %>
  </div>
  <div id="event_my_events_panel_listing_shown">
    <%= link_to_function("Hide details...", %{
      $('#event_my_events_panel_listing_shown').hide();
      $('#event_my_events_panel_listing_hidden').show();
      $('#event_my_events_panel_listing').hide();
    }) %>
  </div>
</div>
<div id="event_my_events_panel_listing">
  <% MyEvent::STATUSES.each do |status| %>
    <% users = users_by_status[status] %>
    <% unless users.blank? %>
      <h4> <%= status.titleize %></h4>
      <ul>
        <% users.each do |user| %>
          <li>
            <%= user.label %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
