<%#
Locals:
* event: The event to display reservations for
%>
<% status = reservation_status_for(event) %>

<h3>Are you going?</h3>

<div id="event-reservation-buttons">
  <%= link_for_reservation("Yes", event, "yes", status) %> /
  <%= link_for_reservation("Maybe", event, "maybe", status) %> /
  <%= link_for_reservation("No", event, "no", status) %>
</div>

<div id="event-reservations-panel-listing-header">
  Total:
  <strong><%= event.reservations.select{|t| t.status == "yes"}.size %> yes</strong> /
  <strong><%= event.reservations.select{|t| t.status == "maybe"}.size %> maybe</strong> /
  <strong><%= event.reservations.select{|t| t.status == "no"}.size %> no</strong>

  <div id="event-reservations-panel-listing-hidden">
    <%= link_to_function("Show reservations...", %{
      $('#event-reservations-panel-listing-hidden').hide();
      $('#event-reservations-panel-listing-shown').show();
      $('#event-reservations-panel-listing').show();
    }) %>
  </div>
  <div id="event-reservations-panel-listing-shown">
    <%= link_to_function("Hide reservations...", %{
      $('#event-reservations-panel-listing-shown').hide();
      $('#event-reservations-panel-listing-hidden').show();
      $('#event-reservations-panel-listing').hide();
    }) %>
  </div>
</div>
<div id="event-reservations-panel-listing">
  <% Reservation::STATUSES.each do |status| %>
    <%# TODO come up with sane way of finding users for a particular reservation status %>
    <% users = event.reservations.inject([]){|result, reservation| result << reservation.user if reservation.status == status; result} %>
    <% unless users.blank? %>
      <h4> <%= status.titleize %></h4>
      <ul>
        <% users.each do |user| %>
          <li>
            <%= user.label %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
