<%#
Locals:
* event: The event to display reservations for
%>
<% status = reservation_status_for(event) %>

<h3>Reservation</h3>
<div class="event-reservation-status">
  <%- if status -%>
    You said you <strong> were
    <%- case status.to_sym -%>
    <%- when :yes %>
      going
    <%- when :no -%>
      not going
    <%- when :maybe -%>
      interested
    <%- else -%>
      <% raise ArgumentError, "Unknown reservation status" %>
    <%- end -%>
    </strong>
  <% else %>
    Tell the community:
  <% end %>
</div>

<div class="event-reservation-buttons">
  <ul>
    <li>
      <%= link_for_reservation("I'm going", event, "yes", status) %>
    </li>
    <li>
      <%= link_for_reservation("I'm interested", event, "maybe", status) %>
    </li>
    <li>
      <%= link_for_reservation("I'm not going", event, "no", status) %>
    </li>
  </ul>
</div>

<div id="event-reservations-panel-listing-header">
  Total:
  <strong><%= event.reservations.select{|t| t.status == "yes"}.size %> yes</strong> /
  <strong><%= event.reservations.select{|t| t.status == "maybe"}.size %> maybe</strong> /
  <strong><%= event.reservations.select{|t| t.status == "no"}.size %> no</strong>

  <div id="event-reservations-panel-listing-hidden">
    <%= link_to_function("Show reservations...", %{
      $('#event-reservations-panel-listing-hidden').hide();
      $('#event-reservations-panel-listing-shown').show();
      $('#event-reservations-panel-listing').show();
    }) %>
  </div>
  <div id="event-reservations-panel-listing-shown">
    <%= link_to_function("Hide reservations...", %{
      $('#event-reservations-panel-listing-shown').hide();
      $('#event-reservations-panel-listing-hidden').show();
      $('#event-reservations-panel-listing').hide();
    }) %>
  </div>
</div>
<div id="event-reservations-panel-listing">
  <% Reservation::STATUSES.each do |status| %>
    <%# TODO come up with sane way of finding users for a particular reservation status %>
    <% users = event.reservations.inject([]){|result, reservation| result << reservation.user if reservation.status == status; result} %>
    <% unless users.blank? %>
      <h4> <%= status.titleize %></h4>
      <ul>
        <% users.each do |user| %>
          <li>
            <%= user.label %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
