<%#
Locals:
* event: The event to display reservations for
%>
<% if logged_in? %>
  Are you going?
  <% reservation = current_user.reservations.find_by_event_id(event.id) %>
  <% if reservation %>
    <%= reservation.status %>
  <% else %>
    No reservation found
  <% end %>

  <br />

  <b>Change</b>
  <%= link_to("Yes", url_for(:controller => "reservations", :action => "create_or_update", :status => "yes", :event_id => event.id)) %>
  <%= link_to("No", url_for(:controller => "reservations", :action => "create_or_update", :status => "no", :event_id => event.id)) %>
  <%= link_to("Maybe", url_for(:controller => "reservations", :action => "create_or_update", :status => "maybe", :event_id => event.id)) %>
<% end %>

<%# TODO move enumerated statuses to Reservation model %>
<% %w[yes no maybe].each do |status| %>
  <%# TODO come up with sane way of finding users for a particular reservation status %>
  <% users = event.reservations.inject([]){|result, reservation| result << reservation.user if reservation.status == status; result} %>
  <% unless users.blank? %>
    <h4> <%= status.titleize %></h4>
    <ul>
      <% users.each do |user| %>
        <li>
          <%= user.label %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

