<p>
  <b>User:</b>
  <%=h @reservation.user_id %>
</p>

<p>
  <b>Event:</b>
  <%=h @reservation.event_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @reservation.status %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
